.custom-class {
    background: #F0F0F0;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

.example-video {
    max-width: 400px;
    margin: 0 auto;
}

.example-text-block {
    height: 200px;
    width: 200px;
    background: mediumaquamarine;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}