.custom-class {
    background: #F0F0F0;
    font-size: 50px;
    text-align: center;
    padding: 30px;
}

.example-video {
    max-width: 400px;
    margin: 0 auto;
}

.login-button {
    font-size: 24px;
    border-radius: 8px;
    background-color: #db0a40;
    color: white;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
}

.login-button--hidden {
    display: none;
}