.custom-script-example {
    padding: 80px 20px 0;
}

.rb-example__example {
    background-color: #f1f1f1;
    margin: 20px 0;
    padding: 15px;
}

.rb-example__headline {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
}

.rb-example__subheading {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.rb-example__small-subheading {
    margin-top: 12px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.rb-example__documentation {
    padding: 10px 0;
}

.rb-example__login-button {
    font-size: 24px;
    border-radius: 8px;
    background-color: #db0a40;
    color: white;
    padding: 10px 20px;
    display: block;
}

.rb-example__login-button--hidden {
    display: none;
}
